.card {
  box-sizing: border-box;
  background-color: #222222;
  border-radius: 6px;
}

.card__header {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__duration {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  color: #8B8B8B;
  flex-shrink: 0;
}

.card__img {
  width: 100%;
  height: 168px;
  object-fit: contain;
}

.card__btn {
  display: block;
  margin: 14px auto;
  padding: 0;
  width: 100px;
  height: 29px;
  font-size: 12px;
  line-height: 11px;
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 30px;
  background-color: #313131;
  cursor: pointer;
  transition: color .2s ease-out;
}

.card__btn:hover {
  color: #8B8B8B;
}

.card__btn_type_delete {
  background-image: url('../../../images/movie/icon-delete.svg');
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size .2s ease-out;
}

.card__btn_type_delete:hover {
  background-size: 12px 12px;
}

.card__btn_saved {
  background-color: #EE3465;
  background-image: url('../../../images/movie/icon-save.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .2s ease-out;
}

.card__btn_saved:hover {
  background-image: url('../../../images/movie/icon-delete.svg');
  background-color: #313131;
}

@media screen and (min-width: 768px) {
  .card__header {
    padding: 18px;
  }

  .card__title {
    font-size: 15px;
  }

  .card__duration {
    font-size: 13px;
  }

  .card__img {
    height: 190px;
  }

  .card__btn {
    margin: 18px auto;
    font-size: 12px;
    line-height: 11px;
  }
}
