.card {
  box-sizing: border-box;
}

.card__header {
  padding: 10px 0 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card__title {
  max-width: 250px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__duration {
  display: flex;
  align-items: center;
	justify-content: center;
  border-radius: 3px;
  margin: 0;
  width: 52px;
	height: 18px;
  font-size: 11px;
	line-height: 10px;
  font-weight: 400;
  color: #8B8B8B;
  background-color: #2F2F2F;
}

.card__image {
  width: 100%;
  height: 168px;
  border-radius: 6px;
  object-fit: cover;
  box-sizing: border-box;
}

.card__image_container {
  position: relative;
}

.card__btn {
  display: none;
  position: absolute;
  top: 14px;
	right: 14px;

  padding: 0;

  width: 72px;
  height: 21px;
  font-size: 11px;
  line-height: 10px;
  font-weight: 400;

  color: #fff;

  border: none;
  border-radius: 10.5px;
  background-color: #313131;
  cursor: pointer;
}

.card__image_container:hover .card__btn {
	display: block;
}

.card__btn_type_delete {
  background-color: #313131;
  width: 22px;
	height: 21px;
  background-image: url('../../../images/movie/icon-delete.svg');
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size .2s ease-out;
}

.card__btn_type_delete:hover {
  background-size: 10px 10px;
}

.card__btn_saved {
  background-color: #EE3465;
  background-image: url('../../../images/movie/icon-save.svg');
  width: 22px;
	height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size .2s ease-out;
}

.card__btn_saved:hover {
  background-size: 10px 10px;
}

@media screen and (min-width: 768px) {
  .card__header {
    padding: 12px 14px 0;
  }

  .card__title {
    font-size: 13px;
    line-height: 16px;
  }

  .card__image {
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .card__image {
    height: 201px;
  }
}
