.footer {
  margin: 0 10px 20px 10px;
}

.footer__description {
  margin: 0;
  position: relative;
  font-size: 13px;
  line-height: 59px;
  font-weight: 400;
  color: #8B8B8B;
  text-align: center;
}

.footer__container {
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  opacity: 1;
  transition: color .2s ease-out;
}

.footer__description::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #424242;
}

.footer__link:hover {
  color: #8B8B8B;
}

.footer__year {
  margin: 0;
  padding: 30px 0 0 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 20px 20px 20px;
  }

  .footer__description {
    font-size: 13px;
    line-height: 58px;
    user-select: none;
  }

  .footer__container {
    padding-top: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__list {
    flex-direction: row;
    gap: 20px;
  }

  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__year {
    padding: 0;
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    min-width: 1140px;
    margin: 0 auto 20px;
    grid-column: 2/3;
    align-items: end;
  }
}
